$body-background: #22283e;
$menu-background: #0d111e; //menu background
$nav-link-text-color: #504f68;
$hamburger-menu: #8387a6; //hamburger icon/menu
$yellow: #ffd700;
/*$white: #eff0f7;*/
$black: #000000;
/*$red: #ff0000;*/
$light-grey-transparent: rgba(121, 108, 108, 0.5);
$dark-grey-transparent: rgba(42, 47, 51, 0.5);
$input-border: #3384aa;


$black: #011627;
$white: #FDFFFC;
$green: #2EC4B6;
$red: #c82259;
$orange: #FF9F1C;
$grey: #e0e0e0;

