<div class="container py-4">
  <div class="row">
    <div class="col-12 text-center">
      <img src="assets/profile-picture.jpg"
           alt="profile-picture"
           class="img-thumbnail">
      <h1 class="mt-3">GÁL TIBOR</h1>
      <div class="mx-auto mt-3 my-4 p-3 text-justify about-me">
        <p>
          A fotózás az életem része, kitölti mindennapjaimat és ez az ami igazán boldoggá tesz, azt csinálhatom amit
          igazán szeretek. Nagypapám szerettette meg velem a fotózást, sokszor magával vitt és csodájára jártam, hogy
          milyen sok embernek  tetszik amit ő csinál.
        Ez volt az a fordulópont, amikor elhatároztam, hogy én is ezt szeretném csinálni és ennek lassan már 20 éve.
        </p>
        <p>
          Először csak hobby szinten csináltam és egyre jobban bele merültem a fotóművészet világába, ma már el sem
          tudnám képzelni nélküle az életem.
        </p>
        <p>
          Fotóművészeti képzések sora vette kezdetét, ahol nem csak a fényképezőgép helyes tartását, beállításait
          tanították meg, hanem a látásmódomat is tudtam fejleszteni, ami ebben az ágazatban majdnem, hogy a
          legfontosabb dolog.
          Mai napig fejlesztem magam, mint technikailag, mint trendben, hisz évről évre változnak a divatok.
          Számomra nincs annál nagyobb öröm, mikor pozitív visszajelzést kapok.
          Fő profilom a portfólió készítés, jegyes fotózás, családi fotózás, eseményfotózás.
          Felszerelésem a Nikon márkájú professzionális termékcsaládból származik
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-5 text-warning please-contact-us">
    <div class="col-xl-9 col-lg-8 col-md-7 col-12">
      <p class="my-4 text-center">Amennyiben képeink elnyerték tetszésedet, keress engem bátran, szívesen válaszolok
        bármilyen
        felmerülő kérdésre.
      </p>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-5 col-12 text-right">
      <p class="my-4">
        <a routerLink="/contact"
           class="btn btn-primary active w-100"
           role="button"
           aria-pressed="true">Lépj velem kapcsolatba</a>
      </p>
    </div>
  </div>
</div>

<app-menu-indicator title="RÓLAM"></app-menu-indicator>
