<footer>
  <div class="container">
    <div class="company">
      © 2020 | Copyright - {{ 'GT_PHOTO' | translate }}
    </div>
    <div class="links">
      <ul>
        <li><a routerLink="/home">{{ 'HOMEPAGE' | translate }}</a></li>
        <li><a routerLink="/myservice">{{ 'SERVICES' | translate }}</a></li>
        <li><a routerLink="/about">{{ 'ABOUT_ME' | translate }}</a></li>
        <li><a routerLink="/contact">{{ 'CONTACT' | translate }}</a></li>
      </ul>
    </div>
  </div>
</footer>
