<div class="container">
  <div class="row py-4">
    <div class="col-md-6 col-12">

      <h1 class="mb-3">ÍRJ NEKEM</h1>
      <app-contact-form></app-contact-form>

    </div>
    <div class="col-md-6 col-12 mt-3 mt-md-0">
      <div class="row">

        <div class="col-12 mb-5">
          <h2 class="mb-3">LÉPJ KAPCSOLATBA VELEM</h2>

          <p>Amennyiben képeink elnyerték tetszésedet, keress bátran, szívesen válaszolok bármilyen felmerülő kérdésre.
            Árajánlatot általában személyesen, vagy írásban adok. Bízunk benne, hogy hamarosan Téged is elégedett
            ügyfeleim
            körében tudhatok.</p>
        </div>

        <div class="col-12">
          <h2 class="mb-3">ELÉRHETŐSÉGEM</h2>
          <p>
            GT FOTO
            <br> E-mail: gtfoto@freemail.hu
            <br> Telefon:
            <span class="text-primary">+36 30 273 75 10</span>
          </p>
          <p>Webmester: Lovranits Tamás (+ 36 30 48 34 011)</p>
        </div>

      </div>
    </div>
  </div>
</div>
