<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">

      <h2 class="mb-3">ÍRJ NEKEM</h2>
      <app-contact-form></app-contact-form>

    </div>
    <div class="col-md-6 col-12 mt-3 mt-md-0">
      <div class="row">

        <div class="col-12 mb-5">
          <h3 class="mb-3">LÉPJ KAPCSOLATBA VELEM</h3>

          <p>Amennyiben képeink elnyerték tetszésedet, keress bátran, szívesen válaszolok bármilyen felmerülő kérdésre.
            Árajánlatot általában személyesen, vagy írásban adok. Bízunk benne, hogy hamarosan Téged is elégedett
            ügyfeleim
            körében tudhatok.</p>
        </div>

        <div class="col-12">
          <h3 class="mb-3">ELÉRHETŐSÉGEM</h3>
          <p>
            GT FOTO
            <br> E-mail: gtfoto@freemail.hu
            <br> Telefon:
            <span class="call-number">+36 30 273 75 10</span>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
