<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">

      <h2 class="mb-3">{{ 'CONTACT_WRITE_ME' | translate }}</h2>
      <app-contact-form></app-contact-form>

    </div>
    <div class="col-md-6 col-12 mt-3 mt-md-0">
      <div class="row">

        <div class="col-12 mb-5">
          <h3 class="mb-3">{{ 'CONTACT_WITH_US' | translate }}</h3>

          <p>{{ 'CONTACT_CONTENT' | translate }}</p>
        </div>

        <div class="col-12">
          <h3 class="mb-3">{{ 'CONTACT_AVAILABILITY' | translate }}</h3>
          <p>
            <span class="font-weight-bold">{{ 'GT_PHOTO' | translate }}</span>
            <br> E-mail: gtfotoz@gmail.com
            <br> Telefon:
            <span class="call-number">+36 30 273 75 10</span>
          </p>

          <p>
            <span class="font-weight-bold">{{ 'CONTACT_NAME_OF_WEBMASTER' | translate }} ({{ 'CONTACT_WEBMASTER' |
              translate }})</span>
            <br> E-mail: tamas198601@gmail.com
            <br> <a href="https://lovranitstamas.eu/FRONTEND/oneletrajz/">lovranitstamas.eu</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
