@import '../../../sass/variables';

.p-header.container {
  text-align: center;
  padding-top: 150px;

  h2 {
    text-transform: uppercase;
    color: $black;
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding-top: 0;
  }
}
