@import '../../../sass/variables';

.card {
  border: none;
  padding: 0;
  background: none;
}

p.empty-gallery, p.system-error {
  font-size: 1.5rem;
}

p.oops {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p.error-code {
  font-size: 2.8rem;
}

