@import "../../../sass/variables";

.container {

  padding-top: 150px;
  padding-bottom: 20px;

  .profile-card {

    .profile-card-header {
      background-color: $black;
      letter-spacing: 3px;
      font-size: 1.2rem;
      font-weight: 600;
      color: $white;
    }

    .card-body {
      font-size: 14px;
      color: $black;
    }

    button {
      color: $white;
    }

    .form-control {
      border-color: $grey;

      &:focus {
        background-color: $grey;
        border-color: $green;
        outline: none;
        box-shadow: none;
        color: $red;

      }
    }

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    &:hover span {
      padding-right: 25px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }

  }
}
