<header>
  <div class="container-fluid social-media">
    <div class="container">
      <div class="slogan">
        <h1>{{ 'HEADER_SLOGAN' | translate }}</h1>
        <a (click)="selectLang('hu',$event)" *ngIf="currentLang=='en'">
          <img src="assets/hungarian.png" alt="hungarian-translate" height="30" class="mr-2">
        </a>
        <a (click)="selectLang('en',$event)" *ngIf="currentLang=='hu'">
          <img src="assets/english.png" alt="english-translate" height="30" class="mr-2">
        </a>
      </div>
      <div class="icons">
        <ul>
          <li>
            <a href="https://www.facebook.com/gal.tibiphoto/">
              <i class="fa fa-facebook-square mt-1"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</header>
<main>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</main>


<app-scroll-top></app-scroll-top>
