<div class="container-fluid menu-background"></div>
<div class="container mt-3">
  <h2>
    {{ 'SERVICES_PAGE_TITLE' | translate }}
  </h2>


  <div class="row py-3">
    <div class="col-md-8 col-12">
      <h3 class="mb-4">{{ 'WEDDING_PHOTOGRAPHY' | translate }}</h3>
      <p>{{ 'WEDDING_PHOTOGRAPHY_DESC' | translate }}</p>

      <p class="mt-5 what-is-the-offer">{{ 'WHAT_DOES_MY_OFFER_INCLUDE' | translate }}</p>
      <p class="offer">{{ 'WEDDING_PHOTOGRAPHY_FULL_PACKAGE' | translate }}</p>
      <ul>
        <li>{{ 'WEDDING_PHOTOGRAPHY_LI_FIRST' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_LI_SECOND' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_LI_THIRD' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_LI_FOURTH' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_LI_FIFTH' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_LI_SIXTH' | translate }}</li>
        {{ 'WEDDING_PHOTOGRAPHY_LI_FULL_TIME' | translate }}
      </ul>
      <p class="offer">{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK' | translate }}</p>
      <ul>
        <li>{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK_LI_FIRST' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK_LI_SECOND' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK_LI_THIRD' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK_LI_FOURTH' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK_LI_FIFTH' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK_LI_SIXTH' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK_LI_SEVENTH' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK_LI_EIGHTH' | translate }}</li>
        <li>{{ 'WEDDING_PHOTOGRAPHY_OPT_PACK_LI_NINTH' | translate }}</li>
      </ul>

      <p>
        <a routerLink="/portfolio/wedding"
           class="btn navigation"
           role="button"
           aria-pressed="true">{{ 'TAKE_A_VIEW' | translate }}</a>
      </p>
    </div>

    <div class="col-md-4 col-12 text-center">
      <img
            src="assets/wedding-service.jpg"
            alt="wedding-service"
            class="img-thumbnail"
      />
    </div>
  </div>

  <hr>

  <div class="row py-3">
    <div class="col-md-4 col-12 mt-3 mt-md-0 text-center">
      <img
            src="assets/portrait-service.jpg"
            alt="portrait-service"
            class="img-thumbnail"/>
    </div>

    <div class="col-md-8 col-11 mx-auto event-bg">
      <h3 class="mt-3">
        {{ 'PORTRAIT_AND_MODEL_PHOTOGRAPHY' | translate }}
      </h3>

      <p class="mt-5 what-is-the-offer">{{ 'WHAT_DOES_MY_OFFER_INCLUDE' | translate }}</p>

      <ul>
        <li>{{'PORTRAIT_AND_MODEL_PHOTOGRAPHY_LINE_FIRST' | translate }}</li>
        <li>{{ 'PORTRAIT_AND_MODEL_PHOTOGRAPHY_LINE_SECOND' | translate }}</li>
      </ul>

      <p>
        <a routerLink="/portfolio/portrait"
           class="btn navigation"
           role="button"
           aria-pressed="true">{{ 'TAKE_A_VIEW' | translate }}</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row py-3">
    <div class="col-md-6 col-12">
      <h3 class="mb-4">
        {{ 'EVENT_PHOTOGRAPHY' | translate }}
      </h3>

      <p class="mt-5 what-is-the-offer">{{ 'WHAT_DOES_MY_OFFER_INCLUDE' | translate }}</p>

      <ul>
        <li>{{ 'EVENT_PHOTOGRAPHY_LINE_FIRST' | translate }}</li>
        <li>{{ 'EVENT_PHOTOGRAPHY_LINE_SECOND' | translate }}</li>
        <li>{{ 'EVENT_PHOTOGRAPHY_LINE_THIRD' | translate }}</li>
      </ul>

      <p>
        <a routerLink="/portfolio/christening"
           class="btn navigation"
           role="button"
           aria-pressed="true">{{ 'TAKE_A_VIEW' | translate }}</a>
      </p>
    </div>

    <div class="col-md-6 col-12">
      <h3 class="mb-4">
        {{ 'CONTACT' | translate }}
      </h3>

      <p class="mt-5 what-is-the-offer">{{ 'WHAT_DOES_MY_OFFER_INCLUDE' | translate }}</p>

      <ul>
        <li>
          {{ 'CHILD_AND_FAMILY_LINE_FIRST' | translate }}
          {{ 'CHILD_AND_FAMILY_LINE_SECOND' | translate }}
        </li>
        <li>
          {{ 'CHILD_AND_FAMILY_LINE_THIRD' | translate }}
        </li>
      </ul>

      <p>
        <a routerLink="/portfolio/child-and-family"
           class="btn navigation"
           role="button"
           aria-pressed="true">{{ 'TAKE_A_VIEW' | translate }}</a>
      </p>
    </div>
  </div>

</div>

