<div class="container-fluid title">
  <div class="d-flex align-items-center justify-content-center container">
      <h1 class="text-center">
        SZOLGÁLTATÁSOK
      </h1>
  </div>
</div>
<div class="container">
  <div class="row py-3">
    <div class="col-md-8 col-12">
      <h2 class="mb-4">
        ESKÜVŐ FOTÓZÁS
      </h2>
      <p>
        Kisebb-nagyobb lakodalmak fotózását vállalom, igyekszem minden fontos
        pillanatot megörökíteni és a lehető legtöbb, legszebb pillanatot vissza
        adni nektek.
      </p>

      <p class="mt-5 what-is-the-offer">Mit tartalmaz az ajánlatom?</p>
      <p class="offer">Teljes csomag</p>
      <ul>
        <li>
          Jegyes fotózás - Időtartam: kb. 1,5-2 óra szükséges egy 15-20
          kidolgozott képsorozathoz.
        </li>
        <li>Otthoni készülődés - Időtartam: kb. 3 óra.</li>
        <li>
          Kreatív fotózás - Időtartam: kb. 3 óra szükséges egy 30-40 kidolgozott
          képsorozathoz.
        </li>
        <li>Polgári szertartás - Időtartam: kb. 30 perc.</li>
        <li>Templomi szertartás - Időtartam: kb. 1 óra.</li>
        <li>Lagzi fotózás (menyecsketáncig) - Időtartam: kb. 5-7 óra.</li>
        A teljes csomag 17 óra fotózás.
      </ul>
      <p class="offer">Választható csomag</p>
      <ul>
        <li>
          Jegyes fotózás - Időtartam: kb. 1,5-2 óra szükséges egy 15-20
          kidolgozott képsorozathoz.
        </li>
        <li>Otthoni készülődés - Időtartam: kb. 3 óra.</li>
        <li>
          Kreatív fotózás - Időtartam: kb. 3 óra szükséges egy 30-40 kidolgozott
          képsorozathoz.
        </li>
        <li>Polgári szertartás - Időtartam: kb. 30 perc.</li>
        <li>Templomi szertartás - Időtartam: kb. 1 óra.</li>
        <li>Lagzi fotózás (menyecsketáncig) - Időtartam: kb. 5-7 óra.</li>
        <li>Slide show (fotókból összeállított videó).</li>
        <li>Fotókönyv</li>
        <li>A kész fotókat pendriveon gravírozott díszdobozban kerülnek átadásra.</li>
      </ul>
    </div>

    <div class="col-md-4 col-12 text-center">
      <img
            src="assets/wedding-service.jpg"
            alt="wedding-service"
            class="img-thumbnail"
      />
    </div>
  </div>

  <hr class="hr-style"/>

  <div class="row py-3">
    <div class="col-md-8 col-11 mx-auto rounded border border-warning event-bg">
      <h2 class="mt-3">
        PORTRÉ ÉS MODELL FOTÓZÁS
      </h2>

      <p class="mt-5 what-is-the-offer">Mit tartalmaz az ajánlatom?</p>

      <ul>
        <li>1-1,5 óra fotózás, 10-15 kidolgozott képsorozat.</li>
        <li>Előre egyeztetett időpontban, szabadtéri vagy stúdió fotózásra.</li>
      </ul>
    </div>

    <div class="col-md-4 col-12 mt-3 mt-md-0 text-center">
      <img
            src="assets/portrait-service.jpg"
            alt="portrait-service"
            class="img-thumbnail"/>
    </div>
  </div>

  <hr class="hr-style"/>

  <div class="row py-3">
    <div class="col-md-8 col-12">
      <h2 class="mb-4">
        ESEMÉNY FOTÓZÁS
      </h2>

      <p class="mt-5 what-is-the-offer">Mit tartalmaz az ajánlatom?</p>

      <ul>
        <li>Keresztelő - Időtartam: kb. 1 óra fotózás.</li>
        <li>Születésnap</li>
        <li>Céges rendezvény</li>
      </ul>
    </div>

    <div class="col-md-4 col-12 text-center">
      <img
            src="assets/event-service.jpg"
            alt="event-service"
            class="img-thumbnail"
      />
    </div>
  </div>

  <hr class="hr-style"/>

  <div class="row py-3">
    <div
          class="col-md-8 col-11 mx-auto rounded border border-warning event-bg"
    >
      <h2 class="mt-4">
        GYEREK ÉS CSALÁDI FOTÓZÁS
      </h2>

      <p class="mt-5 what-is-the-offer">Mit tartalmaz az ajánlatom?</p>

      <ul>
        <li>
          Szabadtéri fotózás: előre megbeszélt helyszínen, kb. 1-1,5 órás
          fotózás és 25-30 kidolgozott képsorozatot.
        </li>
        <li>
          Stúdió fotózás: 15-20 kidolgozott képsorozatot.
        </li>
      </ul>
    </div>

    <div class="col-md-4 col-12 mt-3 mt-md-0 text-center">
      <img
            src="assets/family-service.jpg"
            alt="family-service"
            class="img-thumbnail"
      />
    </div>
  </div>
</div>

<app-menu-indicator title="SZOLGÁLTATÁSOK"></app-menu-indicator>
