@import "../../sass/variables";

.container-fluid.menu-background {
  background-image: url('../../../src/assets/services_menu_title_row.png');
  background-repeat: repeat-x;
  min-height: 125px;
}

.container {
  h2 {
    text-transform: uppercase;
    color: $red;
  }

  h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid $red;
    width: 100%;
    margin: 0 0.5rem;
    transform: translateY(-0.5rem);
  }

  hr {
    height: 30px;
    border-style: solid;
    border-color: $red;
    border-width: 1px 0 0 0;
    border-radius: 20px;
  }

  .event-bg {
    background-color: $black;
    color: $white;
  }

  .what-is-the-offer {
    font-size: 1.6rem;
  }

  .offer {
    font-size: 1.4rem;
  }

  a.navigation {
    background-color: $red;
    color: $white;
  }

  a.navigation:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 768px) {
  h2::after {
    width: 53vw !important;
  }
}
