@import "../../../sass/variables";

.container {

  padding-top: 150px;
  padding-bottom: 20px;

  .portfolio-detail-card {

    .portfolio-detail-card-header {
      background-color: $black;
      letter-spacing: 3px;
      font-size: 1.2rem;
      font-weight: 600;
      color: $white;
    }

    button {
      color: $white;
    }

    .form-control {
      border-color: $grey;

      &:focus {
        background-color: $grey;
        border-color: $green;
        outline: none;
        box-shadow: none;
        color: $red;

      }
    }

    button {
      letter-spacing: 3px;
      font-weight: 600;
      color: $white;
      transition: all 0.5s;
    }

    button:not(.btn-danger){
      background-color: $red;
      border-color: $red;
    }

    input[type="checkbox"] {
      /* remove standard background appearance */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* create custom radiobutton appearance */
      display: inline-block;
      width: 25px;
      height: 25px;
      padding: 4px;
      /* background-color only for content */
      background-clip: content-box;
      border: 2px solid $black;
      background-color: $black;
    }

    input[type="checkbox"]:checked {
      background-color: $red;
    }

  }
}
