<div class="container">
  <div class="row py-4">
    <div class="col-md-8 col-12">
      <h1 class="mb-4">
        IMPRESSZUM
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-md-4 content mx-auto">
      <ul>
        <li class="first-element">Tulajdonos</li>
        <li>Gál Tibor</li>
        <li>Egyéni vállalkozó</li>
        <li>9421 Fertőrákos, Patak sor 43</li>
        <li>Adószám: 69472075-1-28</li>
      </ul>
    </div>
    <div class="col-10 col-md-3 content mx-auto">
      <ul>
        <li class="first-element">Tárhelyszolgáltató</li>
        <li>Web-Server Kft.</li>
        <li>4025 Debrecen, Pásti u. 2. 1/5.</li>
        <li>info@web-server.hu</li>
      </ul>
    </div>
    <div class="col-10 col-md-4 content mx-auto">
      <ul>
        <li class="first-element">Webmester</li>
        <li>Lovranits Tamás</li>
      </ul>
    </div>
  </div>
</div>
