@import '../../sass/variables';

.container {

  padding-top: 150px !important;
  padding-bottom: 20px;

  h2 {
    text-transform: uppercase;
    color: $red;
  }

  h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid $red;
    width: 20vw;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }

  .owners {
    margin-top: 0;

    div {
      margin-left: auto;
      margin-right: auto;
      border-bottom: .3rem solid $red;
      border-right: none;
      text-align: center;
      margin-bottom: 15px;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }

    div:nth-child(3) {
      border: none !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  .owners {

    margin-top: 100px !important;

    div {
      margin-bottom: 0;
      border-right: .3rem solid $red !important;
      border-bottom: none !important;
    }
  }
}
