<div class="container">
  <h2>
    Impresszum
  </h2>

  <div class="row owners">
    <div class="col-10 col-md-4">
      <h3>Gál Tibor <br> (Tulajdonos) <br> </h3>
      <ul>
        <li>Egyéni vállalkozó</li>
        <li>9421 Fertőrákos, Patak sor 43</li>
        <li>Adószám: 69472075-1-28</li>
      </ul>
    </div>
    <div class="col-10 col-md-4">
      <h3 class="first-element">Web-Server Kft. <br> (Tárhelyszolgáltató)</h3>
      <ul>
        <li>4025 Debrecen, Pásti u. 2. 1/5.</li>
        <li>info@web-server.hu</li>
      </ul>
    </div>
    <div class="col-10 col-md-4 content mx-auto">
      <h3 class="first-element">Lovranits Tamás <br> (Webmester)</h3>
      <ul>
        <li>Weblap: <a href="http://lovranitstamas.eu/FRONTEND/oneletrajz/">lovranitstamas.eu</a></li>
        <li>tamas198601@gmail.com</li>
      </ul>
    </div>
  </div>
</div>
