<div class="container">
  <h2>
    {{ 'IMPRESS_TITLE' | translate }}
  </h2>

  <div class="row owners">
    <div class="col-10 col-md-4">
      <h3>{{ 'IMPRESS_OWNER_NAME' | translate }}<br> ({{ 'IMPRESS_OWNER' | translate }}) <br> </h3>
      <ul>
        <li>{{ 'IMPRESS_SEL-EMPLOYED' | translate }}</li>
        <li>{{ 'IMPRESS_OWNER_HOME_ADDRESS' | translate }}</li>
        <li>{{ 'IMPRESS_OWNER_TAX_NUMBER' | translate }}: 69472075-1-28</li>
      </ul>
    </div>
    <div class="col-10 col-md-4">
      <h3>Web-Server Kft. <br> ({{ 'IMPRESS_HOSTING_PROVIDER' | translate }})</h3>
      <ul>
        <li>{{ 'IMPRESS_HOSTING_ADDRESS' | translate }}</li>
        <li>info@web-server.hu</li>
      </ul>
    </div>
    <div class="col-10 col-md-4 content mx-auto">
      <h3>{{ 'CONTACT_NAME_OF_WEBMASTER' | translate }}<br> ({{ 'CONTACT_WEBMASTER' | translate }})</h3>
      <ul>
        <li>{{ 'IMPRESS_PORTFOLIO' | translate }}: <a href="https://lovranitstamas.eu/FRONTEND/oneletrajz/">lovranitstamas.eu</a></li>
        <li>tamas198601@gmail.com</li>
      </ul>
    </div>
  </div>
</div>
