@import '../../../sass/variables';

.card-body {
  padding: 0;
  color: $orange;
  font-size: large;

  img {
    margin-bottom: 0;
  }
}

.card-footer {
  padding: 0;

  a {
    color: $black;
    font-size: 18px;

    &:hover {
      color: $black;
    }
  }
}

