@import '../../../sass/variables';

.card-body {
  padding: 0;
  color: $yellow;
  font-size: large;

  img {
    margin-bottom: 0;
  }
}

.card-footer {
  padding: 0;

  a {
    color: $yellow;
    font-size: 18px;

    &:hover {
      color: $yellow;
    }
  }
}


/*.figure-caption {
  color: $yellow;
  font-size: large;

  a {
    color: $yellow;
    &:hover{
      color: $yellow;
    }
  }
}*/

