@import '../../../sass/variables';

#menuIndicator {
  position: fixed;
  top: 20%;
  left: 0;

  display: flex;
  flex-direction: column;

  div {
    background-color: $green;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 2px double $black;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: bold;

    animation: rotating 8s infinite ease-in-out;
    animation-delay: 5s;
  }
}

@keyframes rotating {
  70%, 100% {
    transform: rotateY(360deg);
  }
  0% {
    transform: rotateY(0);
  }

}
