@import '../../../sass/variables';

.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
  border-radius: 5px;
  background-color: $black;
  width: 45px;
  height: 45px;
  border: 2px solid $orange;
  cursor: pointer;
  opacity: 0;

  .arrow {
    border-bottom: solid 18px $orange;
    border-left: solid 10px $black;
    border-right: solid 10px $black;
    width: 0 !important;
    height: 20px;
    position: relative;
    border-radius: 0 !important;
  }
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
