@import '../../sass/variables';

::ng-deep carousel .carousel {
  margin-top: -50px;

  .carousel-indicators {
    bottom: 40px;

    li {
      width: 15px;
      height: 15px;
      border-radius: 10px;
      background: transparent;
      border: 2px solid $white;
      margin-left: 10px;
      margin-right: 10px;
    }

    li.active {
      background-color: $white;
    }
  }

  .carousel-inner {
    opacity: 1;
    background-color: $black;

    slide {
      -webkit-transition-property: opacity;
      transition-property: opacity;

      height: 100vh;
      min-height: 600px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      .carousel-caption {
        text-align: left;
        margin-bottom: 50px;
        transform: skewX(-20deg);

        p {
          border-left: 10px solid $white;
        }

        p span {
          padding: 5px 10px;
          background-color: rgba(0, 0, 0, 0.5);
          display: inline-block;
        }

        p.first-line {
          margin-bottom: 5px;
          font-size: 2.2rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .carousel-inner .item {
    opacity: 0;
    display: table-cell;
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
  }

  .carousel-inner .active {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: block;
    border: 2px solid $white;
    background-color: transparent;
    border-radius: 5px;
    padding: 30px;
    background-size: 45% 45%;
    cursor: pointer;
  }
}

section.reservation {
  background-color: $menu-background;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  stroke-width: 2px;
  text-shadow: 3px 3px 0 $dark-grey-transparent,
  -1px -1px 0 $dark-grey-transparent,
  1px -1px 0 $dark-grey-transparent,
  -1px 1px 0 $dark-grey-transparent,
  1px 1px 0 $dark-grey-transparent;

  h1 {
    font-weight: 100;
    font-size: 44px;
    text-transform: uppercase;
    color: $yellow;
  }

  .container {
    padding: 20px;
    background-image: url('../../../src/assets/welcome_row.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;

    div {
      height: 100%;

      p {
        transform: skewX(-20deg);
        background-color: rgba(0, 0, 0, 0.5);
        border-right: 10px solid $yellow;
        border-bottom: 1px solid $yellow;
        padding-right: 5px;
      }

      p:nth-child(1) {
        font-size: 1.1rem;
      }

      p:nth-child(2) {
        font-size: 0.8rem;
      }
    }
  }
}

section#iframe-content {
  max-height: 500px !important;
  iframe {
    max-height: 500px !important;
  }
}

section.portfolio {
  background-color: $hamburger-menu;

  .card {
    background-color: $menu-background;
    border: 1px solid $yellow;
    width: 98%;

    .card-header {
      min-height: 100px;

      img {
        max-width: 100%;
        margin: 0;
      }
    }

    .card-body {
      h2 {
        font-size: 24px;
        text-shadow: #0d111e 0 0 2px, #0d111e 0 0 2px, #000 0 0 2px,
        #000 0 0 2px, #0d111e 0 0 2px, #0d111e 0 0 2px;
      }

      hr {
        background-color: $yellow;
        height: 1px;
      }
    }
  }

  .card:nth-child(2) {
    .card-assets-top,
    .card-body {
      position: relative;
      top: -60px;
    }
  }
}

/*media queries*/
@media only screen and (max-width: 575px) {
  ::ng-deep carousel .carousel-control {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  section.reservation .container div {
    p:nth-child(1) {
      font-size: 1.4rem;
    }

    p:nth-child(2) {
      font-size: 1.1rem;
    }
  }
}
