<carousel>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel1.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel2.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel3.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>

<section class="container py-5">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          allowfullscreen
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/8V9Hx3Vscrg?fbclid=IwAR1SoocsSH7xVP1DSxs0c3qZUrnIz_fY_ogA2GwTXY42S8aEgiKXR3KvHT0"
        ></iframe>
      </div>
    </div>
  </div>
</section>

<section class="container reservation mt-4">
  <div class="row">
    <div class="col-12 col-md-5">
      <div class="card py-3">
        <div class="card-body mx-auto">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 my-auto">
      <h3 class="mb-3 mt-4 mt-md-0">Ti mikorra tervezitek a nagy napot?</h3>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam alias
        modi repellendus eos accusantium officiis dicta quam minus qui
        dignissimos.
      </p>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
        officiis, est quam ducimus possimus animi autem. Ullam ducimus, veniam
        aut et, quisquam fugit animi ea repellendus voluptatum totam sequi quod
        excepturi. Aperiam nostrum officiis soluta!
      </p>
    </div>
  </div>
</section>

<section class="container-fluid portfolio mt-4">
  <div class="container">
    <div class="row py-5">
      <div class="mb-4 mb-lg-0 col-12 col-md-6 col-lg-4 mx-auto">
        <div class="card">
          <div class="card-header text-center">
            <img
              alt="Card image cap"
              class="card-img-top w-25 mt-3"
              src="assets/engagement.png"
            />
          </div>
          <div class="card-body">
            <h2 class="card-title text-center">JEGYESFOTÓ</h2>
            <hr/>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-outline-warning" type="button">
              Tovább
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-lg-0 col-12 col-md-6 col-lg-4 mx-auto">
        <div class="card">
          <div class="card-header text-center">
            <img
              alt="Card image cap"
              class="card-img-top w-25"
              src="assets/wedding.png"
            />
          </div>
          <div class="card-body">
            <h2 class="card-title text-center">ESKÜVŐ</h2>
            <hr/>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-outline-warning" type="button">
              Tovább
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-lg-0 col-12 col-md-6 col-lg-4 mx-auto">
        <div class="card">
          <div class="card-header text-center">
            <img
              alt="Card image cap"
              class="card-img-top w-25 mt-3"
              src="assets/photography.png"
            />
          </div>
          <div class="card-body">
            <h2 class="card-title text-center">WERK</h2>
            <hr/>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-outline-warning" type="button">
              Tovább
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
