<!-- https://bit.dev/valor-software/ngx-bootstrap/carousel-->
<carousel>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel1.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line init-title"><span>{{ 'CAROUSEL_TITLE' | translate }}</span></p>
      <p class="init-subtitle"><span>{{ 'CAROUSEL_SUBTITLE' | translate }}</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel2.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>{{ 'CAROUSEL_TITLE' | translate }}</span></p>
      <p><span>{{ 'CAROUSEL_SUBTITLE' | translate }}</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel3.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>{{ 'CAROUSEL_TITLE' | translate }}</span></p>
      <p><span>{{ 'CAROUSEL_SUBTITLE' | translate }}</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel4.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>{{ 'CAROUSEL_TITLE' | translate }}</span></p>
      <p><span>{{ 'CAROUSEL_SUBTITLE' | translate }}</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel5.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>{{ 'CAROUSEL_TITLE' | translate }}</span></p>
      <p><span>{{ 'CAROUSEL_SUBTITLE' | translate }}</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel6.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>{{ 'CAROUSEL_TITLE' | translate }}</span></p>
      <p><span>{{ 'CAROUSEL_SUBTITLE' | translate }}</span></p>
    </div>
  </slide>
</carousel>

<section id="welcome">
  <div class="container">
    <h2>{{ 'WELCOME' | translate }}</h2>
    <p>
      {{ 'WELCOME_IF_YOU_ARE_IN_LOOKING' | translate }}
    </p>
    <p>
      {{ 'WELCOME_IF_YOU_ANY_QUESTION' | translate }}
    </p>
  </div>
</section>

<section id="iframe-content">
  <div class="container-fluid">
    <h2>{{ 'GET_THE_TASTE' | translate }}</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
            allowfullscreen
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/8V9Hx3Vscrg?fbclid=IwAR1SoocsSH7xVP1DSxs0c3qZUrnIz_fY_ogA2GwTXY42S8aEgiKXR3KvHT0"
      ></iframe>
    </div>
  </div>
</section>

<section id="emphased-pictures">
  <div class="container">
    <h2>{{ 'NEWS' | translate }}</h2>
    <ng-container *ngIf="!loading && !serverError; else loadingWarning">
      <ng-container *ngIf="allPictures.length; else warningMessage">
        <div class="picture-wrapper">
          <div *ngFor="let picture of arrayOfFourItem;" class="picture-item">
            <a [routerLink]="['/portfolio',picture.firstDirectParentCategoryEn,picture.categoryEn]"
               *ngIf="picture.firstDirectParentCategoryEn!==''">
              <img [alt]="picture.title" [src]="picture.fileURL" [title]="picture.title"></a>
            <a [routerLink]="['/portfolio',picture.categoryEn]"
               *ngIf="picture.firstDirectParentCategoryEn==''">
              <img [alt]="picture.title" [src]="picture.fileURL" [title]="picture.title"></a>
          </div>
        </div>
      </ng-container>
      <ng-template #warningMessage>
        <p class="array-of-four-item my-5 text-center">A rendszer jelenleg nem tartalmaz frissen feltöltött képet</p>
        <app-loading-spinner [loaderWidth]="100" [loaderHeight]="100" class="mb-5"
                             *ngIf="!serverError"></app-loading-spinner>
      </ng-template>
    </ng-container>
    <ng-template #loadingWarning>
      <app-loading-spinner [loaderWidth]="100" [loaderHeight]="100" class="mb-5"
                           *ngIf="!serverError"></app-loading-spinner>
    </ng-template>

  </div>
</section>

<section id="time-travel">
  <div class="container-fluid">
    <h2>{{ 'BACK_IN_TIME' | translate }}</h2>
    <div class="row">
      <div class="mb-4 mb-xl-0 col-12 col-sm-6 col-md-5 col-xl-3 mx-auto">
        <div class="card mx-auto">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="card-title text-center">{{ 'PORTRAIT_PHOTOS' | translate }}</h3>
            <p class="card-text">
              {{ 'PORTRAIT_PHOTOS_CONTENT' | translate }}
            </p>
          </div>
          <div class="card-footer">
            <button class="btn" type="button" [routerLink]="'../portfolio/portrait'">
              {{ 'NEXT' | translate }}
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-xl-0 col-12 col-sm-6 col-md-5 col-xl-3 mx-auto">
        <div class="card mx-auto">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="card-title text-center">{{ 'FAMILY_PHOTOS' | translate }}</h3>
            <p class="card-text">
              {{ 'FAMILY_PHOTOS_CONTENT' | translate }}
            </p>
          </div>
          <div class="card-footer">
            <button class="btn pulse" type="button" [routerLink]="'../portfolio/child-and-family'">
              {{ 'NEXT' | translate }}
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-xl-0 col-12 col-sm-6 col-md-5 col-xl-3 mx-auto">
        <div class="card mx-auto">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="card-title">{{ 'WEDDING_PHOTOS' | translate }}</h3>
            <p class="card-text">
              {{ 'WEDDING_PHOTOS_CONTENT' | translate }}
            </p>
          </div>
          <div class="card-footer">
            <button class="btn" type="button" [routerLink]="'../portfolio/wedding/engaged'">
              {{ 'NEXT' | translate }}
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-xl-0 col-12 col-sm-6 col-md-5 col-xl-3 mx-auto">
        <div class="card mx-auto">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="card-title text-center">{{ 'CREATIVE_PHOTOS' | translate }}</h3>
            <p class="card-text">
              {{ 'CREATIVE_PHOTOS_CONTENT' | translate }}
            </p>
          </div>
          <div class="card-footer">
            <button class="btn" type="button" [routerLink]="'../portfolio/wedding/creative'">
              {{ 'NEXT' | translate }}
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="work-morale">
  <div class="container">
    <h2>{{ 'EQUIPMENTS' | translate }}</h2>
    <div class="nikon">
      <div class="start">
        <h3>{{ 'EQUIPMENTS_MACHINE' | translate }}</h3>
      </div>
      <div class="inner">
        <ul>
          <li>Nikkor 50mm f/1.8G</li>
          <li>Nikkor 85mm f/1.8G</li>
          <li>Nikkor 24-70mm f/2.8G ED</li>
          <li>Nikkor 70-200mm f/2.8GII ED</li>
        </ul>
      </div>
      <div class="last">
        <h3>{{ 'EQUIPMENTS_ACCESSORIES' | translate }}</h3>
      </div>
    </div>
  </div>


</section>
