<!-- https://bit.dev/valor-software/ngx-bootstrap/carousel-->
<carousel>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel1.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line init-title"><span>A legszebb pillanatokat</span></p>
      <p class="init-subtitle"><span>egyedi stílusban, kreatív ötletekkel megörökítem, amikor mindenki Veletek ünnepel
        .</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel2.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>A legszebb pillanatokat</span></p>
      <p><span>egyedi stílusban, kreatív ötletekkel megörökítem, amikor mindenki Veletek ünnepel.</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel3.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>A legszebb pillanatokat</span></p>
      <p><span>egyedi stílusban, kreatív ötletekkel megörökítem, amikor mindenki Veletek ünnepel.</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel4.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>A legszebb pillanatokat</span></p>
      <p><span>egyedi stílusban, kreatív ötletekkel megörökítem, amikor mindenki Veletek ünnepel.</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel5.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>A legszebb pillanatokat</span></p>
      <p><span>egyedi stílusban, kreatív ötletekkel megörökítem, amikor mindenki Veletek ünnepel.</span></p>
    </div>
  </slide>
  <slide [ngStyle]="{ 'background-image': 'url(./assets/carousel6.jpg)' }">
    <div class="carousel-caption d-none d-md-block">
      <p class="first-line"><span>A legszebb pillanatokat</span></p>
      <p><span>egyedi stílusban, kreatív ötletekkel megörökítem, amikor mindenki Veletek ünnepel.</span></p>
    </div>
  </slide>
</carousel>

<section id="welcome">
  <div class="container">
    <h2>Üdvözöllek a weboldalamon</h2>
    <p>
      Ha fotóst keresel, ha szeretnél magadról vagy családodról fotókat készíttetni, akkor jó
      helyen jársz.
    </p>
    <p>
      Bármilyen felmerülő kérdés vagy kérés lenne, keress bizalommal!
    </p>
  </div>
</section>

<section id="iframe-content">
  <div class="container-fluid">
    <h2>Egy kis kedvcsináló</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
            allowfullscreen
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/8V9Hx3Vscrg?fbclid=IwAR1SoocsSH7xVP1DSxs0c3qZUrnIz_fY_ogA2GwTXY42S8aEgiKXR3KvHT0"
      ></iframe>
    </div>
  </div>
</section>

<section id="emphased-pictures">
  <div class="container">
    <h2>Aktualitások</h2>
    <ng-container *ngIf="!loading && !serverError; else loadingWarning">
      <ng-container *ngIf="allPictures.length; else warningMessage">
        <div class="picture-wrapper">
          <div *ngFor="let picture of arrayOfFourItem;" class="picture-item">
            <a [routerLink]="['/portfolio',picture.firstDirectParentCategoryEn,picture.categoryEn]"
               *ngIf="picture.firstDirectParentCategoryEn!==''">
              <img [alt]="picture.title" [src]="picture.fileURL" [title]="picture.title"></a>
            <a [routerLink]="['/portfolio',picture.categoryEn]"
               *ngIf="picture.firstDirectParentCategoryEn==''">
              <img [alt]="picture.title" [src]="picture.fileURL" [title]="picture.title"></a>
          </div>
        </div>
      </ng-container>
      <ng-template #warningMessage>
        <p class="array-of-four-item my-5 text-center">A rendszer jelenleg nem tartalmaz frissen feltöltött képet</p>
        <app-loading-spinner [loaderWidth]="100" [loaderHeight]="100" class="mb-5"
                             *ngIf="!serverError"></app-loading-spinner>
      </ng-template>
    </ng-container>
    <ng-template #loadingWarning>
      <app-loading-spinner [loaderWidth]="100" [loaderHeight]="100" class="mb-5"
                           *ngIf="!serverError"></app-loading-spinner>
    </ng-template>

  </div>
</section>

<section id="time-travel">
  <div class="container-fluid">
    <h2>Vissza az időbe</h2>
    <div class="row">
      <div class="mb-4 mb-xl-0 col-12 col-sm-6 col-md-5 col-xl-3 mx-auto">
        <div class="card mx-auto">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="card-title text-center">PORTRÉ FOTÓK</h3>
            <p class="card-text">
              Korunkban a netes megjelenéshez, az önéletrajzhoz, a közösségi oldalakhoz elengedhetetlen a minőségi
              fotó. Hiszen az arculat része, amit megszereténk mutatni magunkról a külvilág számára.
              Ha bővíteni szeretnéd minőségi fotókkal portfóliódat, profilképed vagy üzleti portrédat,
              keress bizalommal.
            </p>
          </div>
          <div class="card-footer">
            <button class="btn" type="button" [routerLink]="'../portfolio/portrait'">
              Tovább
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-xl-0 col-12 col-sm-6 col-md-5 col-xl-3 mx-auto">
        <div class="card mx-auto">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="card-title text-center">CSALÁDI FOTÓK</h3>
            <p class="card-text">
              Imádom a nyári naplementéket, a fák suhogását, madarak csiripelését hallgatni, a természet közelségét.
              A tökéletes fények, a különböző megvilágítások keresése mindig vonzó volt számomra. Ha a családi
              albumodat szeretnéd gyarapítani - műteremben, természetes környezetben -, akkor itt az ideje
              időpontot foglalnod.
            </p>
          </div>
          <div class="card-footer">
            <button class="btn pulse" type="button" [routerLink]="'../portfolio/child-and-family'">
              Tovább
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-xl-0 col-12 col-sm-6 col-md-5 col-xl-3 mx-auto">
        <div class="card mx-auto">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="card-title">JEGYES FOTÓK</h3>
            <p class="card-text">
              Ahol csak Ti vagytok a képeken.
              Kiváló alkalom arra, hogy megismerjük egymást jóval az esküvő előtt. Ha még nem vagytok rutinosak a
              kamera előtt, lehetőség van rá begyakorolni, hogy hogyan viselkedjetek természetesen egy fotózás közben.
            </p>
          </div>
          <div class="card-footer">
            <button class="btn" type="button" [routerLink]="'../portfolio/wedding/engaged'">
              Tovább
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-xl-0 col-12 col-sm-6 col-md-5 col-xl-3 mx-auto">
        <div class="card mx-auto">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="card-title text-center">KREATÍV FOTÓK</h3>
            <p class="card-text">
              Számomra is különleges dolog szerelmes párokat fotózni! Legyen az jegyes vagy kreatív fotózás.
              Egy fotós, aki egész nap veletek lesz, figyeli a Ti és vendégek minden mozdulatát, az eseményeket,
              miközben ő maga diszkréten a háttérben marad.
              Célom, hogy évtizedek múlva is bele tudjatok feledkezni ezekben a képekben.
            </p>
          </div>
          <div class="card-footer">
            <button class="btn" type="button" [routerLink]="'../portfolio/wedding/creative'">
              Tovább
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="work-morale">
  <div class="container">
    <h2>Felszerelések</h2>
    <div class="nikon">
      <div class="start">
        <h3>2db Nikon D750 váz</h3>
      </div>
      <div class="inner">
        <ul>
          <li>Nikkor 50mm f/1.8G</li>
          <li>Nikkor 85mm f/1.8G</li>
          <li>Nikkor 24-70mm f/2.8G ED</li>
          <li>Nikkor 70-200mm f/2.8GII ED</li>
        </ul>
      </div>
      <div class="last">
        <h3>egyéb kiegészítőkkel</h3>
      </div>
    </div>
  </div>


</section>
