<app-portfolio-header title="ESKÜVŐI FOTÓK"
                      subtitle="Megörökítem életetek egyik legfontosabb napjának legszebb pillanatait.">
</app-portfolio-header>

<div class="container pb-3">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
                alt="Card image cap"
                class="card-img-top"
                src="assets/wedding-categories/creative.jpg"
          />
          <p><a routerLink="./creative">Kreatív fotók</a></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
                alt="Card image cap"
                class="card-img-top"
                src="assets/wedding-categories/engaged.jpg"
          />
          <p><a routerLink="./engaged">Jegyes fotók</a></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
                alt="Card image cap"
                class="card-img-top"
                src="assets/wedding-categories/preparation.jpg"
          />
          <p><a routerLink="./preparation">Készülődés</a></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
                alt="Card image cap"
                class="card-img-top"
                src="assets/wedding-categories/permission.jpg"
          />
          <p><a routerLink="./permission">Ki kérő</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header text-center p-0">
          <img
                alt="Card image cap"
                class="card-img-top"
                src="assets/wedding-categories/civil-ceremony.jpg"
          />
          <p><a routerLink="./civil-ceremony">Polgári szertartás</a></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
                alt="Card image cap"
                class="card-img-top"
                src="assets/wedding-categories/liturgy.jpg"
          />
          <p><a routerLink="./liturgy">Templomi szertartás</a></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
                alt="Card image cap"
                class="card-img-top"
                src="assets/wedding-categories/snapshots.jpg"
          />
          <p><a routerLink="./snapshots">Esküvői pillanatképek</a></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
                alt="Card image cap"
                class="card-img-top"
                src="assets/wedding-categories/dinner-party.jpg"
          />
          <p><a routerLink="./dinner-party">Vacsora - buli</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
