<app-portfolio-header title="ESKÜVŐI FOTÓK"
                      subtitle="Megörökítem életetek egyik legfontosabb napjának legszebb pillanatait.">
</app-portfolio-header>

<div class="row text-center py-4">
  <div class="col-12 col-lg-3 p-3">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/wedding-categories/creative.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="./creative">Kreatív fotók</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/wedding-categories/engaged.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="./engaged">Jegyes fotók</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/wedding-categories/preparation.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="./preparation">Készülődés</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/wedding-categories/permission.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="./permission">Ki kérő</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row text-center py-4">
  <div class="col-12 col-lg-3 p-3 mx-auto">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/wedding-categories/civil-ceremony.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="./civil-ceremony">Polgári szertartás</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3 mx-auto">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/wedding-categories/liturgy.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="./liturgy">Templomi szertartás</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3 mx-auto">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/wedding-categories/dinner-party.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="./dinner-party">Vacsora - buli</a></p>
      </div>
    </div>
  </div>
</div>
